input {
    border-radius: var(--radius);
    font-size: 16px;
    padding: 5px;
}

/* On hover change */
tbody tr:hover {
    background-color: #aaa;
}

.app-container {
    padding: 28px;
    max-width: 1000px;
    margin: 0 auto;
}
