body {
    font-family: Arial;
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    padding: 8px;
    border: 1px solid #ccc;
}
th {
    background-color: #f4f4f4;
}
input,
select {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}
button {
    margin-top: 10px;
}

/* Highlight row on hover */
#catalogTable tbody tr:hover {
    background-color: #e0e0e0;
}
