/* On hover change */
tbody tr:hover {
    background-color: #aaa;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.app-container {
    padding: 28px;
    margin: 0 auto;
}

/* Sort, page and show bar */
#itemsPerPageSelector {
    border-radius: var(--radius);
    overflow: hidden;
    padding: 5px;
    width: 60px;
}

/* Search Box*/
.search {
    --padding: 10px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 50px;
    background-color: #eee;
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.searchActions {
    font-size: 25px;
    font-weight: 500;
    transition: transform 0.2s ease;
    display: inline-block;
    cursor: pointer;
}
.searchActions:hover {
    transform: scale(1.35);
    font-weight: 500;
}

#searchInput {
    font-size: 16px;
    font-family: sans-serif;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

/* Information Popup CSS */
.infoPopup {
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    overflow: hidden;
    position: fixed;
    display: none;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg);
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 300px;
}

/* iframe CSS */
#iframeModal {
    border-radius: 10px;
    overflow: hidden;
    display: none;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg);
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    width: 60%;
    height: 80%;
}

/* Items Popup */
.itemPopup {
    border-radius: 10px;
    overflow: hidden;
    display: none;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg);
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 200;
    box-shadow: 0 10 30px rgba(0, 0, 0, 0.5);
    min-width: 950px;
    padding: 20px 24px;
    width: 50%;
}

.itemPopup input,
.itemPopup select {
    border-radius: 5px;
    padding: 6px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.itemPopup label {
    padding: 6px;
    font-size: 20px;
}

.itemPopup .container {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Label */
.form-row label {
    white-space: nowrap;
    font-size: 20px;
}

/* Currency input */
.currency-input {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.5);
    align-items: center;
    border-radius: 5px;
    padding: 1px;
}

.currency-symbol {
    margin-right: 4px;
}

.currency-input input {
    border: none;
    outline: none;
    width: 100px;
    font-size: 20px;
}

/*------------Gray bubbles with sort and filter data-----------*/
.filters {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #e5e7eb;
    color: #555;
    display: inline-block;
    margin: 0px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
}

.filters:hover {
    background-color: #d1d5db;
    transform: scale(1.05);
}

/*-------------CSS for add filter dropdown--------------*/
/* Dropdown container */
.filter-dropdown {
    padding: 8px 8px;
    position: relative;
}

/* Dropdown menu */
.filter-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 400px;

    background: var(--card);
    border-radius: 6px;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.3);

    padding: 10px;
    overflow: hidden;
    z-index: 100;
}

.filter-dropdown:hover .filter-dropdown-menu {
    display: block;
}

.filterOptions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.filterSelector {
    min-width: 225px;
    border-radius: 10px;
}
