<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Inventory</title>
        <link rel="icon" type="image/x-icon" href="/static/icon.ico" />
        <link rel="stylesheet" href="/static/css/department.css" />
        <link rel="stylesheet" href="/static/css/general.css" />

        <script src="/static/javascript/axios.min.js"></script>
        <script src="/static/javascript/general.js"></script>
        <script src="/static/javascript/departments.js"></script>
        <script src="/static/javascript/department/department.js"></script>
    </head>

    <body>
        <header class="app-header">
            <div class="header-left">
                <span class="logo">Store Manager Pro</span>
                <select
                    id="departmentPageSelector"
                    class="departmentSelector"
                ></select>
            </div>

            <nav class="header-nav">
                <div class="nav-dropdown">
                    <a href="/" class="nav-link">Inventory</a>
                </div>
                <div class="nav-dropdown">
                    <a href="/lists" class="nav-link">Lists</a>
                </div>
                <div class="nav-dropdown">
                    <span class="nav-link dropdown-toggle">Manage ▾</span>
                    <div class="dropdown-menu">
                        <a href="/vendors" class="nav-link">Vendors</a>
                        <a href="/locations" class="nav-link">Locations</a>
                        <a href="/departments" class="nav-link">Departments</a>
                    </div>
                </div>
                <div class="nav-dropdown">
                    <span class="nav-link dropdown-toggle"
                        >Configurations ▾</span
                    >
                    <div class="dropdown-menu">
                        <a href="/barcode" class="nav-link">Barcode</a>
                        <a href="/export" class="nav-link">Export</a>
                    </div>
                </div>
            </nav>
        </header>

        <main id="main">
            <!-- Add Departments Form -->
            <h2>Departments</h2>
            <form id="addDepartmentForm" onsubmit="addDepartment(event)">
                <input
                    type="text"
                    id="department_name"
                    placeholder="Department Name"
                    required
                />
                <button type="submit">Add</button>
                <p id="departmentaddError" class="errorText"></p>
            </form>

            <table id="departmentsTable" style="min-width: 325px">
                <thead>
                    <tr>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- Edit Department Popup -->
            <div
                id="editDepartmentPopup"
                style="
                    display: none;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: white;
                    border: 1px solid #ccc;
                    padding: 20px;
                    z-index: 1000;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    min-width: 300px;
                "
            >
                <h2>Edit Department</h2>
                <form
                    id="editDepartmentForm"
                    onsubmit="submitDepartmentEdit(event)"
                >
                    <input type="hidden" id="editDepartmentId" />

                    <label for="editDepartmentName">Department</label><br />
                    <input
                        type="text"
                        id="editDepartmentName"
                        required
                    /><br /><br />

                    <button type="button" onclick="closeDepartmentEdit()">
                        Cancel
                    </button>
                    <button id="departmentDeleteButton" type="button">
                        Delete
                    </button>
                    <button type="submit">Save</button>
                    <p id="departmentinfoError" class="errorText"></p>
                </form>
            </div>

            <!-- Overlay -->
            <div
                id="overlay"
                style="
                    display: none;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.3);
                    z-index: 999;
                "
                onclick="closeDepartmentEdit()"
            ></div>
        </main>

        <script>
            // Get URL parameters
            const params = new URLSearchParams(window.location.search);
            const iframeEnabled = params.get("iframe");
            const header = document.getElementsByClassName("app-header")[0];
            const main = document.getElementById("main");

            if (header) {
                if (iframeEnabled) {
                    // Select the first element with class "app-header"

                    // Hide the header
                    header.style.display = "none";
                } else {
                    // Remove padding
                    main.classList.add("app-container");
                }
            }
        </script>
    </body>
</html>
