<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Inventory</title>
        <link rel="stylesheet" href="/static/css/general.css" />
        <link rel="stylesheet" href="/static/css/lists.css" />

        <script src="/static/javascript/axios.min.js"></script>
        <script src="/static/javascript/general.js"></script>
        <script src="/static/javascript/lists/listsEditor.js"></script>
        <script src="/static/javascript/lists/print.js"></script>
    </head>

    <body>
        <header class="app-header">
            <div class="header-left">
                <span class="logo">Store Manager Pro</span>
            </div>

            <nav class="header-nav">
                <a href="/lists" class="nav-link">Back to Lists</a>
            </nav>
        </header>

        <main class="app-container">
            <div
                class="page-header"
                style="display: flex; justify-content: space-between"
            >
                <div style="display: flex; align-items: center; gap: 10px">
                    <h2 id="listName" style="user-select: none"></h2>
                    <input
                        type="text"
                        id="listNameInput"
                        style="
                            display: none;
                            font-size: 24px;
                            font-weight: bold;
                            padding: 5px;
                            border-radius: 4px;
                        "
                    />
                    <span
                        class="material-symbol hoverExpand"
                        onclick="editListName()"
                        style="font-size: 20px; cursor: pointer; color: #666"
                        >&#xE3C9;</span
                    >
                </div>
                <div style="display: flex; align-items: center; gap: 10px">
                    <span
                        class="material-symbol hoverExpand"
                        onclick="printList({{.list_id}})"
                        style="font-size: 35px; cursor: pointer; color: #000"
                        >&#xE8AD;</span
                    >
                </div>
            </div>

            <!-- Search for items to add section -->
            <div>
                <div
                    id="searchControls"
                    style="
                        margin-top: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    "
                >
                    <div>
                        <!-- Sortby Selector -->
                        <select id="sortBySelect">
                            <option value="date">Sort by Arrived Date</option>
                            <option value="upc">Sort by UPC</option>
                            <option value="name">Sort by Name</option>
                        </select>
                    </div>

                    <div class="search">
                        <span
                            class="material-symbol searchActions"
                            onclick="searchListItems()"
                            >&#xE8B6;</span
                        >
                        <input
                            id="searchInput"
                            type="search"
                            placeholder="Search for an item to add"
                        />
                        <span
                            onclick="resetSearchList()"
                            class="searchActions material-symbol"
                            style="cursor: pointer"
                        >
                            &#xE5CD;
                        </span>
                    </div>
                </div>
            </div>
            <table id="searchResultsTable" style="display: none">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Brand</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <br />

            <h2 style="text-align: center">List Entrys</h2>
            <table id="listTable">
                <thead>
                    <tr style="background-color: #f97316">
                        <th>Location</th>
                        <th>Brand</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div
                id="headsUpContainer"
                style="display: none; justify-content: center; font-size: 18px"
            >
                <p id="noResultsText">
                    Search and Add and item to make it appear here:
                </p>
            </div>
        </main>
        <script>
            const ListID = {{.list_id}};
        </script>
    </body>
</html>
